* {
	box-sizing: border-box;
}

:root {
  background-color: $background-color;
  color: $text-color;
}

body {
  color: $text-color;
  font-size: 13.34px;
}

a {
  color: inherit;
  border-bottom: 1px solid $link-underline-color;
  text-decoration: none;
  -webkit-transition: border-bottom .2s ease-in-out;
  transition: border-bottom .2s ease-in-out;
  &:hover {
    text-decoration: none;
    border-bottom-color: $link-underline-color-on-hover;
    color: inherit;
  }
}

a:focus, a:hover {
  text-decoration: none;
}

a, a:focus, a:hover {
  color: inherit;
}

hr {
  // margin: 1em auto;
  margin: 1.5em 0;
  height: 1px;
  background-color: #ccc;
  width: 50%;
  border: none;
}

#main {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 16px;
  margin-bottom: 3em;
  font-size: 110%;
}

h1 {
  border-bottom-color: $border-bottom-color;
}

h6 {
  color: inherit;
}

pre, code {
  font-size: inherit;
}

.header {
	margin-top: 2em;
}

.title {
	font-size: 1.5em;
	font-weight: bold;
  a {
    border-bottom: none;
  }
}

.light-title {
  a {
    color: $secondary-title-color;
    // transition: color .2s ease-in-out;
    &:hover {
      color: inherit;
      color: $secondary-title-hover-color;
    }
  }
}

.posts {
	padding: 1em 0;
}

.post-entry {
	margin-right: 0.75em;
  margin-bottom: 0.3em;
	a {
		color: inherit;
	}
	.post-entry-date {
		float: right;
		margin-left: 1em;
		color: #ccc;
	}
}

.post {
  margin-top: 1.2em;
}
