$text-color: #fff;
$background-color: rgba(0,0,0,.8);
$border-bottom-color: #ccc;
$link-underline-color: #aaa;
$link-underline-color-on-hover: #fff;
$secondary-title-color: #aaa;
$secondary-title-hover-color: #ccc;