$text-color: rgba(0,0,0,.8);
$background-color: #fff;
$border-bottom-color: rgba(0,0,0,.12);
$link-underline-color: #ddd;
$link-underline-color-on-hover: #000;
$secondary-title-color: #ccc;
$secondary-title-hover-color: rgba(0,0,0,.8);